src/graphql/generated.ts
src/shared
.eslintrc.js
graphql-codegen.config.js
next-env.d.ts
next-sitemap.config.js
next.config.js
postcss.config.js
tailwind.config.js
design.config.js
graphql.config.js
prettier.config.js