.panel {
    padding-top: 5rem;
    scrollbar-width: thin;
    border: none;
}

.panelInside {
    max-width: 50rem;
    text-align: justify;
    text-justify: inter-word;
}

.panel::-webkit-scrollbar {
    display: unset;
}