.topLogo {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.topLogo > h2 {
  margin-top: 1rem;
}

.topLogo > img {
  width: 50%;
  height: auto;
  place-self: start center;
}

.menuFooter {
  text-align: center;
}

.menuFooterCC {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  height: 1rem;
  grid-auto-flow: column;
  place-content: center;
  grid-gap: .2rem;
}

.menuFooterCC img {
  height: 1.5rem;
  width: auto;
}

.menuFooterCC:hover img {
  filter: var(--filter-color-main-dark);
}


.menuFooterSocials {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: grid;
  height: 1rem;
  grid-auto-flow: column;
  place-content: center;
  grid-gap: 2rem;
}

.menuFooterSocials img {
  height: 2rem;
  width: auto;
  transition: .1s filter;
}

.menuFooterSocials img:hover {
  filter: var(--filter-color-main-dark);
}