.menuOption {
    display: grid;
    grid-template-areas: 'title' 'subtitle';
    align-items: center;
    border-radius: 1em;
    grid-column-gap: 1em;
    cursor: pointer;
    padding: 0.6em 1.2em;
    width: 100%;
    transition: .1s background-color;
    text-align: center;    
}

.menuOption.icon {
    grid-template-areas: 'icon title' '. subtitle';
    grid-template-columns: auto 1fr;
    text-align: start;
}

.menuOption.border {
    border: 1px solid var(--color-main-base);
}


.menuOption:hover, .menuOption.active {
    background-color: var(--color-main-base);
}

.menuOption > * {
    margin: 0;
}

.menuOption > img {
    width: 1.2em;
    height: auto;
    grid-area: icon;
}

.menuOption > h3 {
    grid-area: title;
    font-size: 150%;
}

.menuOption > p {
    grid-area: subtitle;
}