.panel {
  display: grid;
  border-right: 1px solid black;
  height: 100%;
  max-height: 100vh;
  justify-items: center;
  padding: 2rem;
  overflow-y: auto;
  grid-row-gap: 0.5em;
  place-content: start center;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.panel::-webkit-scrollbar {
  display: none;
}

.panel > hr {
  height: 0;
  width: 100%;
  border: none;
  border-top: 0.3rem dotted black;
  margin: 2rem;
}