@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply bg-light font-body font-medium text-black;
}

* {
  @apply box-border scroll-m-[40vh] scroll-smooth scrollbar-thin ![-webkit-tap-highlight-color:transparent];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headers font-black;
}

*::selection {
  @apply bg-dark text-light;
}

mark {
  @apply bg-mid px-2;
}

/* INPUT */

input,
textarea {
  @apply rounded-full bg-[transparent] p-2 text-center text-dark outline outline-1 -outline-offset-1
  outline-mid transition-all placeholder:text-dark placeholder:opacity-60;
}

input::placeholder {
  @apply text-dark opacity-60;
}

input:focus-visible,
textarea:focus-within {
  @apply bg-mid shadow-inner-sm outline-none shadow-shade;
}

textarea {
  @apply rounded-2xl p-6 text-left;
}

input[type="submit"] {
  @apply grid cursor-pointer place-content-center place-items-center rounded-full border
  border-dark px-4 pt-[0.4rem] pb-[0.5rem] text-dark outline-none transition-all shadow-shade
  hover:bg-dark hover:text-light hover:drop-shadow-lg active:border-black active:bg-black
  active:text-light active:drop-shadow-lg active:shadow-black;
}

input:enabled,
textarea:enabled {
  @apply hover:bg-mid hover:outline-transparent;
}

input:disabled,
textarea:disabled {
  @apply cursor-not-allowed opacity-50 outline-dark/60 grayscale;
}

textarea {
  @apply scrollbar-none;
}
