@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply bg-light font-body font-medium text-black;
}

* {
  @apply box-border scroll-m-[40vh] scroll-smooth ![-webkit-tap-highlight-color:transparent];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headers font-black;
}

a {
  @apply cursor-pointer underline decoration-dark decoration-dotted
  underline-offset-2 transition-colors hover:text-dark;
}

*::selection {
  @apply bg-dark text-light;
}

mark {
  @apply bg-mid px-2;
}

/* SCROLLBARS STYLING */

* {
  @apply [scrollbar-color:theme(colors.dark/1)_transparent] [scrollbar-width:thin];
}

*::-webkit-scrollbar {
  @apply w-3;
}

*::-webkit-scrollbar-track {
  @apply bg-light;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full border-2 border-solid border-light bg-dark;
}

/* INPUT */

input,
textarea {
  @apply rounded-full bg-light p-2 text-center text-dark outline outline-1 -outline-offset-1
  outline-mid transition-all placeholder:text-dark placeholder:opacity-60 hover:bg-mid
  hover:outline-transparent;
}

input::placeholder {
  @apply text-dark opacity-60;
}

input:focus-visible,
textarea:focus-within {
  @apply bg-mid shadow-inner-sm shadow-shade outline-none;
}

textarea {
  @apply rounded-2xl p-6 text-left;
}

input[type="submit"] {
  @apply grid cursor-pointer place-content-center place-items-center rounded-full border
  border-dark px-4 pt-[0.4rem] pb-[0.5rem] text-dark outline-none transition-all hover:bg-dark
  hover:text-light hover:drop-shadow-shade-lg active:border-black active:bg-black
  active:text-light active:drop-shadow-black-lg;
}
