@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border scroll-m-[40vh] scroll-smooth font-body font-medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headers font-black;
}

a {
  @apply cursor-pointer underline decoration-dark decoration-dotted
  underline-offset-2 transition-colors hover:text-dark;
}

*::selection {
  @apply bg-dark text-light;
}

mark {
  @apply bg-mid px-2;
}

/* SCROLLBARS STYLING */

* {
  @apply [scrollbar-color:theme(colors.dark/1)_transparent] [scrollbar-width:thin];
}

*::-webkit-scrollbar {
  @apply w-3;
}

*::-webkit-scrollbar-track {
  @apply bg-light;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full border-[3px] border-solid border-light bg-dark;
}

/* CHANGE FORMATTED DEFAULTS */

.formatted h1,
.formatted h2,
.formatted h3,
.formatted h4,
.formatted h5,
.formatted h6 {
  @apply flex justify-center gap-3 text-center;
}

.formatted h1 {
  @apply my-16 text-4xl;
}

.formatted h1 + h2 {
  @apply -mt-10;
}

.formatted h2 {
  @apply my-12 text-3xl;
}

.formatted h2 + h3 {
  @apply -mt-8;
}

.formatted h3 {
  @apply my-8 text-2xl;
}

.formatted h3 + h4 {
  @apply -mt-6;
}

.formatted h4 {
  @apply my-6 text-xl;
}

.formatted h5 {
  @apply my-4 text-lg;
}

.formatted p,
.formatted strong {
  @apply my-2 text-justify;
}

.formatted strong {
  @apply font-black;
}

.formatted footer {
  @apply border-t-[3px] border-dotted pt-6;
}

.formatted footer > div {
  @apply my-2 rounded-xl px-6 py-4;
}

.formatted footer > div:target {
  @apply bg-mid shadow-inner-sm shadow-shade;
}

.formatted li::marker {
  @apply text-dark;
}

.formatted code {
  @apply font-mono;
}

.formatted pre > code {
  @apply block whitespace-pre-line;
}

.formatted ul {
  @apply list-disc pl-4;
}

.formatted ol {
  @apply list-decimal pl-4;
}

.formatted blockquote {
  @apply my-8 rounded-lg border-2 border-mid p-5 text-center;
}

.formatted blockquote cite {
  @apply block text-dark;
}

/* INPUT */

input,
textarea {
  @apply rounded-full bg-light p-2 text-center text-dark outline outline-2 outline-offset-[-2px]
  outline-mid transition-all placeholder:text-dark placeholder:opacity-60 hover:bg-mid
  hover:outline-[transparent];
}

input::placeholder {
  @apply text-dark opacity-60;
}

input:focus-visible,
textarea:focus-within {
  @apply bg-mid shadow-inner-sm shadow-shade outline-none;
}

textarea {
  @apply rounded-2xl p-6 text-left;
}

input[type="submit"] {
  @apply grid cursor-pointer place-content-center place-items-center rounded-full border-[1px]
  border-dark px-4 pt-[0.4rem] pb-[0.5rem] text-dark outline-none transition-all hover:bg-dark
  hover:text-light hover:drop-shadow-shade-lg active:border-black active:bg-black
  active:text-light active:drop-shadow-black-lg;
}

.texture-paper-dots {
  @apply bg-[length:10cm] bg-local [background-image:var(--theme-texture-dots)]
  [background-blend-mode:var(--theme-texture-dots-blend)];
}

/* ANIMATION */

.animation-carret {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-bottom-style: solid;
  }
  50% {
    border-bottom-style: none;
  }
}

/* DEBUGGING */
.false {
  @apply border-2 border-[red] text-[red] outline-dotted outline-2 outline-[red];
}

.undefined {
  @apply border-2 border-[green] text-[green] outline-dotted outline-2 outline-[green];
}

.null {
  @apply border-2 border-[blue] text-[blue] outline-dotted outline-2 outline-[blue];
}

/* TIPPY */

.tippy-box[data-animation="fade"][data-state="hidden"] {
  @apply opacity-0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  @apply relative rounded-lg bg-light transition-[transform,_visibility,_opacity]
  drop-shadow-shade-xl;
}
.tippy-box[data-placement^="top"] > .tippy-arrow {
  @apply bottom-0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
  @apply h-4 w-4 text-light;
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  @apply relative z-10 px-6 py-4;
}
