:root {
  --color-main-light: #ffedd8;
  --color-main-base: #e6ccb2;
  --color-main-dark: #9c6644;
  --color-main-black: #1B1811;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-main-light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: .1rem solid var(--color-main-dark);
  color: var(--color-main-dark);
  background: var(--color-main-light);
  border-radius: 100vmax;
  padding: 0.4em 1em;
  cursor: pointer;
}

button:hover {
  background: var(--color-main-dark);
  color: var(--color-main-light);
}